

extends layout

block content
  
  include dashboard_header

  div.py-5
      
      -var empty_text = __('No project found') 
      
      div.container 

        include project_list_table




      
      

















