

extends layout

block content
  
  include dashboard_header

  div.py-5
      
      -var empty_text = __('No project found') 
      
      div.container 
        
        -var d = { projects : data }

        include project_list_table




      
      

















