
extends layout

block content
  
  include input_mixins

  div.container

    form.common-form.mx-auto.my-5.p-5.bg-light.rounded(method="POST" action="")

      include login_icon
      
      h3.text-center.text-uppercase.mb-3= supervisor_type
      
      +formMsg()
      
      div.row.mb-3
        label.col-sm-2.col-form-label(for="input-email")= __('user.Email')
        div.col-sm-10
          input#input-email.form-control(type="email", name="email", value= inputHasValue('email'), required)
      
      div.row.mb-3
        label.col-sm-2.col-form-label(for="input-password")= __('user.Password')
        div.col-sm-10
          input#input-password.form-control(type="password", name="password", minlength="6" required)
  
      button.btn.btn-primary(type="submit")= __('user.Login')





     





